<ion-menu [content]="content">
  <ion-header>
    <ion-toolbar color="dark">
        <ion-item class="item-avatar" color="dark">
          <img src={{usuarioLogado.foto}} *ngIf="usuarioLogado" />
          <span style="color:White" *ngIf="usuarioLogado">{{usuarioLogado.nome}}</span>
        </ion-item>
    </ion-toolbar>
  </ion-header>

  <ion-content style="background-color:black">
    <ion-list>
      <button color="dark" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
  <ion-footer>
    <ion-list>
      <button color="dark" menuClose ion-item (click)="openPage(pageLogout)">
        {{pageLogout.title}}
      </button>
    </ion-list>
  </ion-footer>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
